@import "./base.scss";
.main{
	.item{
		&:hover{
			cursor: pointer;
			background: #eee;
			/* :rgba(0,0,0,0~1) */
		}
		&.on{
			background: #eee;
			&:after{
				content: "✓";
				/* √√★√ */
				color: #060;
				font-size: 36px;
				position: absolute;
				right: 20px;
				bottom: 0px;
			}
		}
	}
}

