@import "./base.scss";
.main{
	.item{
		&:hover{
			cursor: pointer;
			background: #eee;
			/* :rgba(0,0,0,0~1) */
		}
		&.on{
			background: #eee;
			&:after{
				content: "✓";
				/* √√★√ */
				color: #060;
				font-size: 36px;
				position: absolute;
				right: 20px;
				bottom: 0px;
			}
		}
	}
	.code_box{
		width: 90%;
		margin: 20px auto 10px;
		border: 1px solid #ddd;
		background: #fff;
		h6{
			font-size: 16px;
			line-height: 32px;
			padding: 0 10px;
		}
	}
}